<div ng-controller="MainController">
    <div class="jumbotron">
        <h1>Welcom to the Jurassic park !</h1>
        <div ng-if="isEdit">
            <form class="form" ng-submit="changeDescription(text)" role="form" id="desc-nav">
                <textarea ng-model="text" style="resize: both; font-size: 20px;"></textarea>
                <button type="button" ng-click="edit()" class="btn btn-primary">abort</button>
                <button type="submit" class="btn btn-primary">edit</button>
            </form>
        </div>
        <div ng-if="!isEdit">
            <div ng-include="'/Content/about.txt'"></div>
            <div ng-if="isUserAdmin" >
                <button type="button" ng-click="edit()" class="btn btn-primary">start edit</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" ng-repeat="album in data">
                <p><a href="/Angular/Gallery?albumId={{album.id}}" style="color:#999999;">{{album.title}}</a></p>
                <ng-star-rating ng-model="album.rating" readonly="true"></ng-star-rating>
            </div>
        </div>
    </div>
</div>