<div ng-controller="ModeratorController">
    <div class="image-view" ng-repeat="image in data">
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <ng-image-preview image="image"></ng-image-preview>
            <br />
            <label>
                <input type="radio" ng-model="image.allowable" value="true">
                Approve
            </label>
            <br />
            <label>
                <input type="radio" ng-model="image.allowable" value="false">
                Unapprove
            </label>
            <br />
        </div>
    </div>
</div>

